.bg-primary {
  background-color: #1090CB;
}
.bg-primary:hover {
  background-color: #21aded;
}

.btn-primary {
  background-color: #1090CB;
  color: #def3fc;
}
.btn-primary:hover {
  background-color: #12a1e3;
}

.text-primary {
  color: #1090CB;
}

.text-emphasis-primary {
  color: #1090CB;
}

.bg-emphasis-primary {
  background-color: #1090CB;
  color: #ef6f34;
}

.bg-dark-blue {
  background-color: #00329B;
}
.bg-dark-blue:hover {
  background-color: #0042ce;
}

.btn-dark-blue {
  background-color: #00329B;
  color: #9bbbff;
}
.btn-dark-blue:hover {
  background-color: #003ab5;
}

.text-dark-blue {
  color: #00329B;
}

.text-emphasis-dark-blue {
  color: #00329B;
}

.bg-emphasis-dark-blue {
  background-color: #00329B;
  color: #ffcd64;
}

.bg-light-blue {
  background-color: #E8F4FA;
}
.bg-light-blue:hover {
  background-color: white;
}

.btn-light-blue {
  background-color: #E8F4FA;
  color: white;
}
.btn-light-blue:hover {
  background-color: #fdfeff;
}

.text-light-blue {
  color: #E8F4FA;
}

.text-emphasis-light-blue {
  color: #E8F4FA;
}

.bg-emphasis-light-blue {
  background-color: #E8F4FA;
  color: #170b05;
}

.bg-turquoise {
  background-color: #08D3BB;
}
.bg-turquoise:hover {
  background-color: #18f6dc;
}

.btn-turquoise {
  background-color: #08D3BB;
  color: #dcfefa;
}
.btn-turquoise:hover {
  background-color: #09ecd1;
}

.text-turquoise {
  color: #08D3BB;
}

.text-emphasis-turquoise {
  color: #08D3BB;
}

.bg-emphasis-turquoise {
  background-color: #08D3BB;
  color: #f72c44;
}

.bg-dark-purple {
  background-color: #9208D3;
}
.bg-dark-purple:hover {
  background-color: #af18f6;
}

.btn-dark-purple {
  background-color: #9208D3;
  color: #f3dcfe;
}
.btn-dark-purple:hover {
  background-color: #a309ec;
}

.text-dark-purple {
  color: #9208D3;
}

.text-emphasis-dark-purple {
  color: #9208D3;
}

.bg-emphasis-dark-purple {
  background-color: #9208D3;
  color: #6df72c;
}

.bg-white {
  background-color: #FFF;
}
.bg-white:hover {
  background-color: white;
}

.btn-white {
  background-color: #FFF;
  color: white;
}
.btn-white:hover {
  background-color: white;
}

.text-white {
  color: #FFF;
}

.text-emphasis-white {
  color: #FFF;
}

.bg-emphasis-white {
  background-color: #FFF;
  color: black;
}

.bg-dark-white {
  background-color: #F4F4F4;
}
.bg-dark-white:hover {
  background-color: white;
}

.btn-dark-white {
  background-color: #F4F4F4;
  color: white;
}
.btn-dark-white:hover {
  background-color: white;
}

.text-dark-white {
  color: #F4F4F4;
}

.text-emphasis-dark-white {
  color: #F4F4F4;
}

.bg-emphasis-dark-white {
  background-color: #F4F4F4;
  color: #0b0b0b;
}

.bg-gray {
  background-color: #D2D2D2;
}
.bg-gray:hover {
  background-color: #ececec;
}

.btn-gray {
  background-color: #D2D2D2;
  color: white;
}
.btn-gray:hover {
  background-color: #dfdfdf;
}

.text-gray {
  color: #D2D2D2;
}

.text-emphasis-gray {
  color: #D2D2D2;
}

.bg-emphasis-gray {
  background-color: #D2D2D2;
  color: #2d2d2d;
}

.bg-dark-gray {
  background-color: #515151;
}
.bg-dark-gray:hover {
  background-color: #6b6b6b;
}

.btn-dark-gray {
  background-color: #515151;
  color: #d1d1d1;
}
.btn-dark-gray:hover {
  background-color: #5e5e5e;
}

.text-dark-gray {
  color: #515151;
}

.text-emphasis-dark-gray {
  color: #515151;
}

.bg-emphasis-dark-gray {
  background-color: #515151;
  color: #aeaeae;
}

.bg-black {
  background-color: #000000;
}
.bg-black:hover {
  background-color: #1a1a1a;
}

.btn-black {
  background-color: #000000;
  color: gray;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.text-black {
  color: #000000;
}

.text-emphasis-black {
  color: #000000;
}

.bg-emphasis-black {
  background-color: #000000;
  color: white;
}

.bg-light-black {
  background-color: #252525;
}
.bg-light-black:hover {
  background-color: #3f3f3f;
}

.btn-light-black {
  background-color: #252525;
  color: #a5a5a5;
}
.btn-light-black:hover {
  background-color: #323232;
}

.text-light-black {
  color: #252525;
}

.text-emphasis-light-black {
  color: #252525;
}

.bg-emphasis-light-black {
  background-color: #252525;
  color: #dadada;
}

a {
  padding: 0.75em 1.5625em;
}

/*# sourceMappingURL=home.css.map */
