@use "sass:color";
@use "sass:math";

@function complement_color($color) {
    $complement-color: color.invert($color);
    @return $complement-color;
}

@function convert_px_to_em($size) {
    $em-size: math.div($size, 16);
    @return #{$em-size}em;
}

@function convert_px_to_rem($size) {
    $rem-size: math.div($size, 16);
    @return #{$rem-size}rem;
}

@function convert_size_unit($size, $unit) {
    $rem-size: math.div($size, 16);
    @if($unit == "px") {
        @return #{$size}px;
    }

    @return #{$rem-size}#{$unit};
}