@use "sass:color";

@each $key, $val in $colors {
	.bg-#{$key} {
		background-color: $val;

		&:hover {
			background-color: lighten($val, 10%);
		}
	}

	.btn-#{$key} {
		background-color: $val;
		color: lighten($val, 50%);
		// color: color.invert($val, 50%);

		&:hover {
			background-color: lighten($val, 5%);
		}
	}

	.text-#{$key} {
		color: $val;
	}

	.text-emphasis-#{$key} {
		color: $val;
	}

	.bg-emphasis-#{$key} {
		background-color: $val;
		color: color.invert($val);
	}
}
